.border {
  border: 1px solid $neutral-800;
}

.border-t {
  border-top: 1px solid $neutral-800;
}

.border-l {
  border-left: 1px solid $neutral-800;
}

.border-r {
  border-right: 1px solid $neutral-800;
}

.border-b {
  border-bottom: 1px solid $neutral-800;
}

.border-b-thin {
  border-bottom: 1px solid rgba(221, 221, 221, 0.5);
}

.border-t-thin {
  border-top: 1px solid rgba(221, 221, 221, 0.5);
}

.border-light {
  border: 1px solid #A1A1A1;
}
.dark-theme {
  .border-light {
    border: 0;
  }
  .border-b-thin {
    border-bottom: 1px solid $neutral-800;
  }
  .border-t-thin {
    border-top: 1px solid $neutral-800;
  }
}
